#countdown {
  position: relative;
  margin: auto;
  height: 100px;
  width: 100px;
  text-align: center;
}

.countdown-number {
  display: inline-block;
  line-height: 100px;
  font-size: 20px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  fill: none;
}

.svg-circle-w {
  stroke: #21618C;
  stroke-dasharray: 283px;
  animation: countdown-w 3s linear /*infinite*/ forwards;
}
.svg-circle-a {
  stroke: #51aa51;
  stroke-dasharray: 189px;
  animation: countdown-a 10s 3s linear /*infinite*/ forwards;
}

@keyframes countdown-w {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 283px;
  }
}
@keyframes countdown-a {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 189px;
  }
}

