<!DOCTYPE html>
<html>
<head>
    <title>P4BA App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!-- AFFECTIVA -->
    <script type="text/javascript" src="{{url_for('static', filename='affdex/affdex.js')}}"></script>
    
    <!-- XLABS -->
    <script type="text/javascript" src="{{url_for('static', filename='xlabs/xlabs.js')}}"></script>
    
    <!-- Survey JS -->
    <script>
        var myQuestions = {{ questions|tojson }};
    </script>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://surveyjs.azureedge.net/0.96.0/survey.jquery.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='surveysjs/index.css')}}">    
    
    <!--
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    -->
</head>
<body>
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Try to fool a Neural Network!</h1>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <strong>CAMERA</strong>
                </div>
                <div id="affdex_elements" style="width:220px;height:170px;"></div>
                
                <div class="btn-group btn-group">
                    <button id="start" type="button" class="btn btn-success" style="min-width:100px;" onclick="btn_start()">Start</button>
                    <button id="stop"  type="button" class="btn btn-danger"  style="min-width:100px;" onclick="btn_stop()">Stop</button>
                    <!--<button id="reset" onclick="onReset()">Reset</button>-->
                </div>
                <div style="height:30px"></div>
                <div>
                    <strong>LOG</strong>
                    <div id="logs"></div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="col-md-9"> <!--style="min-height:35em;">-->
                    <div class="row">
                        <strong>EMOTION TRACKING RESULTS</strong>
                    </div>
                    <div class="row" ><!--style="visibility: hidden">-->
                        <div class="col-md-4" id="results1" style="word-wrap:break-word;"></div>
                        <div class="col-md-4" id="results2" style="word-wrap:break-word;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- This content is from Surveys -->
        <div id="divStartQuiz" style="padding:50px">
            <button class="btn-lg" onclick="showSurvey(); document.getElementById('divStartQuiz').style.display = 'none';">
                <span>Start Quiz</span></button>
        </div>
        <div id="surveyElement"></div>
        <div id="surveyResult"></div>  
    </div>
    
    <!--
    <footer class="container-fluid">
        <p>Footer Text</p>
    </footer>
    -->
    
    <!--
    <script type='text/javascript'>
    /* attach a submit handler to the form */
    $("#titanic-form").submit(function(event) {

      /* stop form from submitting normally */
      event.preventDefault();

      /* get the action attribute from the <form action=""> element */
      var $form = $( this ),
          payload = $form.serialize()
          url = $form.attr( 'action' );

      /* Send the data using post with element id name and name2*/
      var posting = $.post( url, payload );

      /* Alerts the results */
      posting.done(function( data ) {
        if (data.prediction >= 50) {
            alert('Your probability of survival is: ' + data.prediction + '%\nYou probably would have made it!')
        } else {
            alert('Your probability of survival is: ' + data.prediction + '%\nYou probably would have sunk :(')
        };
      });
    });
    </script>
    -->
    
    <!-- GENERAL -->
    <script type="text/javascript">
        function log(node_name, msg) {
            $(node_name).append("<span>" + msg + "</span><br />")
        }
        
        function log_reset() {
            $("#logs").html("");
        }
        
        function reset_results() {
            $('#results1').html("");
            $('#results2').html("");
        }
        
        function btn_start() {
            if (detector && !detector.isRunning) {
                log_reset();
                detector.start();
                //xlabs_start();
            }
            log('#logs', "Clicked the start button");
        }
        
        function btn_stop() {
            log('#logs', "Clicked the stop button");
            if (detector && detector.isRunning) {
                detector.removeEventListener();
                detector.stop();
                //xlabs_stop();
            }
        }
        
        function btn_reset() {
            log('#logs', "Clicked the reset button");
            if (detector && detector.isRunning) {
                detector.reset();
                reset_results();
                //xlabs_refresh();
            }
        };

    </script>
    
    <!-- AFFECTIVA -->
    <script type="text/javascript">
        // SDK Needs to create video and canvas nodes in the DOM in order to function
        // Here we are adding those nodes a predefined div.
        var divRoot = $("#affdex_elements")[0];
        var width = 200;//640;
        var height = 150;//480;
        var faceMode = affdex.FaceDetectorMode.LARGE_FACES;
        var showPoints = false;
        
        //Construct a CameraDetector and specify the image width / height and face detector mode.
        var detector = new affdex.CameraDetector(divRoot, width, height, faceMode);

        //Enable detection of all Expressions, Emotions and Emojis classifiers.
        detector.detectAllEmotions();
        detector.detectAllExpressions();
        detector.detectAllEmojis();
        detector.detectAllAppearance();

        //Add a callback to notify when the detector is initialized and ready for running.
        detector.addEventListener("onInitializeSuccess", function() {
          log('#logs', "AFF: The detector reports initialized");
          
          //Display canvas instead of video feed because we want to draw the feature points on it
          if (showPoints) {
              $("#face_video_canvas").css("display", "block");
              $("#face_video").css("display", "none");
          }
        });
        
        //Add a callback to notify when camera access is allowed
        detector.addEventListener("onWebcamConnectSuccess", function() {
          log('#logs', "AFF: Webcam access allowed");
        });

        //Add a callback to notify when camera access is denied
        detector.addEventListener("onWebcamConnectFailure", function() {
          log('#logs', "AFF: Webcam access denied");
          console.log("Webcam access denied");
        });

        //Add a callback to notify when detector is stopped
        detector.addEventListener("onStopSuccess", function() {
          log('#logs', "AFF: The detector reports stopped");
          //reset_results();
        });

        //Add a callback to receive the results from processing an image.
        //The faces object contains the list of the faces detected in an image.
        //Faces object contains probabilities for all the different expressions, emotions and appearance metrics
        detector.addEventListener("onImageResultsSuccess", function(faces, image, timestamp) {
          reset_results();
          log('#results1', "Timestamp: " + timestamp.toFixed(2) + " [s]");
          log('#results1', "Number of faces: " + faces.length);
          
          if (faces.length > 0) {
            if (false) {
                log('#results1', "Appearance: " + JSON.stringify(faces[0].appearance));
                log('#results1', "Emotions: " + JSON.stringify(faces[0].emotions, function(key, val) {
                  return val.toFixed ? Number(val.toFixed(0)) : val;
                }));
                log('#results1', "Expressions: " + JSON.stringify(faces[0].expressions, function(key, val) {
                  return val.toFixed ? Number(val.toFixed(0)) : val;
                }));
                log('#results1', "Emoji: " + faces[0].emojis.dominantEmoji);
                drawFeaturePoints(image, faces[0].featurePoints);
            }
            else {
                log('#results1', "");
                log('#results1', "Appearance:");
                aux_str = JSON.stringify(faces[0].appearance);
                aux_str = aux_str.substring(1,aux_str.length-1);
                aux_arr = aux_str.split(",");
                for (var i in aux_arr) {
                  txt = aux_arr[i];
                  txt_arr = txt.split(":");
                  txt_arr[0] = txt_arr[0].substring(1,txt_arr[0].length-1);
                  
                  if (txt_arr[0] == 'age'){
                    //txt_arr[1] = "68";
                  }
                  
                  log('#results1', "&nbsp&nbsp&nbsp&nbsp" + txt_arr[0] + ": " + txt_arr[1]);
                }
                
                log('#results1', "");
                log('#results1', "Emotions:");
                aux_str = JSON.stringify(faces[0].emotions, function(key, val) {
                  return val.toFixed ? Number(val.toFixed(0)) : val;
                });
                aux_str = aux_str.substring(1,aux_str.length-1);
                aux_arr = aux_str.split(",");
                for (var i in aux_arr) {
                  txt = aux_arr[i];
                  txt_arr = txt.split(":");
                  txt_arr[0] = txt_arr[0].substring(1,txt_arr[0].length-1);
                  
                  log('#results1', "&nbsp&nbsp&nbsp&nbsp" + txt_arr[0] + ": " + txt_arr[1]);
                }
                
                log('#results2', "");
                log('#results2', "Expressions:");
                aux_str = JSON.stringify(faces[0].expressions, function(key, val) {
                  return val.toFixed ? Number(val.toFixed(0)) : val;
                });
                aux_str = aux_str.substring(1,aux_str.length-1);
                aux_arr = aux_str.split(",");
                for (var i in aux_arr) {
                  txt = aux_arr[i];
                  txt_arr = txt.split(":");
                  txt_arr[0] = txt_arr[0].substring(1,txt_arr[0].length-1);
                  
                  log('#results2', "&nbsp&nbsp&nbsp&nbsp" + txt_arr[0] + ": " + txt_arr[1]);
                }
                
                log('#results1', "");
                log('#results1', "Emoji: " + faces[0].emojis.dominantEmoji);
                
                //drawFeaturePoints(image, faces[0].featurePoints);
            }
            
            //log('#results', "Appearance: " + JSON.stringify(faces[0].appearance));
            //log('#results', "Emotions: " + JSON.stringify(faces[0].emotions, function(key, val) {
            //  return val.toFixed ? Number(val.toFixed(0)) : val;
            //}));
            //log('#results', "Expressions: " + JSON.stringify(faces[0].expressions, function(key, val) {
            //  return val.toFixed ? Number(val.toFixed(0)) : val;
            //}));
            //log('#results', "Emoji: " + faces[0].emojis.dominantEmoji);
            //drawFeaturePoints(image, faces[0].featurePoints);
          }
        });

        //Draw the detected facial feature points on the image
        function drawFeaturePoints(img, featurePoints) {
            if (showPoints) {
                var contxt = $('#face_video_canvas')[0].getContext('2d');
                var hRatio = contxt.canvas.width / img.width;
                var vRatio = contxt.canvas.height / img.height;
                var ratio = Math.min(hRatio, vRatio);
                
                contxt.strokeStyle = "#FFFFFF";
                for (var id in featurePoints) {
                    contxt.beginPath();
                    contxt.arc(featurePoints[id].x,
                    featurePoints[id].y, 2, 0, 2 * Math.PI);
                    contxt.stroke();
                }
            }
        }
    </script>
    
    <!-- XLABS -->
    <script type="text/javascript">
        var xLabsVar = {
            cameraStart : function() {
                xLabs.setConfig( "frame.stream.enabled", "1" );
                xLabs.setConfig( "system.mode", "learning" );
            },
            cameraStop : function() {
                xLabs.setConfig( "frame.stream.enabled", "0" );
                xLabs.setConfig( "system.mode", "off" );
            },
            ready : function() {
                xLabs.setConfig( "gaze.temp.enabled", "1" );
                xLabs.setConfig( "system.mode", "off" );
                xLabs.setConfig( "browser.canvas.paintLearning", "0" );
            },
            idPath : function( id, path ) {
              console.log( "id="+id+" path="+path );
              if (id == "gazeLogs"){
                alert( "DOM updated element "+id+" with xLabs CSV data from "+path );
              }
            },            
            update : function() {
              // Nothing.
            },
            refresh : function() {
                xLabs.setConfig( "gaze.temp.id", "gazeLogs" );
            }
        };
        
        function xlabs_start() {
            xLabsVar.cameraStart();
            log('#logs', "xLabs: Start");
        }
        
        function xlabs_stop() {
            xLabsVar.cameraStop();
            log('#logs', "xLabs: Stop");
        }
        
        function xlabs_refresh() {
            xLabsVar.refresh;
            log('#logs', "xLabs: Refresh");
        }

        /*
        function submit_handler() {
            alert("Submission validation");
            gaze_logs = document.getElementById("gazeLogs");
            if (gaze_logs=="Here will come gaze logs...")
                return false;
            else{
                alert("Submit the form");
                return true;
            }
        }*/
         
        function onXlabsUpdate() {
            /*
            var xs = parseFloat( xLabs.getConfig( "state.gaze.estimate.x" ) );
            var ys = parseFloat( xLabs.getConfig( "state.gaze.estimate.y" ) );        
            if( !xLabs.documentOffsetReady() ) {
                return;
            }
            
            var trackingSuspended = parseInt( xLabs.getConfig( "state.trackingSuspended" ) );
            var calibrationStatus = parseInt( xLabs.getConfig( "calibration.status" ) );
            if( ( calibrationStatus == 0 ) || ( trackingSuspended == 1 ) ) {
                return;
            }            
            var x = xLabs.scr2docX( xs );
            var y = xLabs.scr2docY( ys );
            var c = parseFloat( xLabs.getConfig( "state.calibration.confidence" ) );
            */
        }
        
        xLabs.setup(xLabsVar.ready, xLabsVar.update, xLabsVar.idPath, "a59f7e14-518a-4c2f-8ee9-3180cbcfb817");
        
        //document.getElementById("gaze_values").submit = submit_handler;
    </script>
    <!-- Surveys.js local library -->
    <script type="text/javascript" src="{{url_for('static', filename='surveysjs/index.js')}}"></script>   
</body>
</html>
